/**TAG SELECTORS**/

body {
    color: #40514E;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: #dfa34c;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #dfa34c;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color:#4c4a4d

}

hr {
    border: dotted #58595c 6px;
    border-bottom: none;
    margin: 100px auto;
    width: 4%;
}

a {
    color:#fefcee;
    font-family: 'Roboto';
    margin: 10px 20px;
    text-decoration: none;
    
}

a:hover {
    color: #eaf6f6;
}

p {
    line-height: 2;
    font-size: 2rem;
}

/**CLASS SELECTORS**/

.btn {
    
}


.contact-message {
    margin: 40px auto 60px;
    width: 40%;
}

.bottom-container {
    background-color: #bde1c5;
    padding: 50px 0 20px;
    
}

.middle-container {
    padding: 100px 0;
}

.top-container {
    background-color: #bde1c5;
    position: relative;
    padding-top: 50px;
}

.bottom-cloud {
    left: 300px;
    position: absolute;
    top: 100px;
    width: 10%;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 100px;
    width: 10%;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.fartgod {
    width: 25%;
}

.intro {
    margin: auto;
    width: 40%;
}

.nathanial {
    width: 15%;
}

.pop {
    text-decoration: underline;
}

.skills {

}

.skill-row {
    margin: 100px auto;
    text-align: left;
    width: 60%;
}

.fart {
    text-decoration: underline;
}

.synth {
    width: 25%;
    float: left;
    margin-right: 30px;

}

.btn {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #dfa34c;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: #896846;
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
